.order {
    border: 1px solid #d9ebe8;
    padding: 5px;
    margin-top: 20px;
}

.order-detail {
    float: left;
    width: 150px;
    border: 1px solid #8cb0aa;
    margin: 5px;
    padding: 5px;
}

.clear {
    clear: both;
}

.total {
    margin: 5px;
}

/* import React, { Component } from 'react';
import axios from 'axios';
import ReactPlayer from 'react-player';
import Support from './support';

export default class DetailProduct extends Component {
    constructor(props) {
        super(props);

        this.state = { persons: [] };

        let today = new Date();

        this.state = {
            name: '',
            status: '',
            check: '',
            amounts: '',
            price: '',
            image: '',
            detail: '',
            sale: '',
            color: '',
            color1: '',
            color2: '',
            gift: '',
            gifts: '',
            promotionone: '',
            promotiontwo: '',
            manufacturer: '',
            screen: '',
            pin: '',
            ram: '',
            rom: '',
            cpu: '',
            pk: '',
            waterproof: '',
            material: '',
            guarantee: '',
            guarantees: '',
            image_src: '',
            video: '',

            nickname: '',
            phone: '',
            email: '',
            address: '',
            note: '',
            amount: 1,
            date: today,

            id: ''
        }
    }

    notification = () => {
        if (this.state.amount === "") {
            alert('vui lòng điền số lượng sản phẩm !');
        } else if (this.state.nickname === "") {
            alert('Vui lòng điền đầy đủ tên !');
            return false;
        } else if (this.state.phone === "") {
            alert('Vui lòng điền đầy đủ số điện thoại !');
            return false;
        } else if (this.state.address === "") {
            alert('Vui lòng ghi rõ địa chỉ nơi nhận hàng !');
        } else {
            alert('Chúc mừng bạn đã đặt hàng thành công !');
        }
    }

    onChangeNickname = (e) => {
        this.setState({
            nickname: e.target.value
        });
    }

    onChangePhone = (e) => {
        this.setState({
            phone: e.target.value
        });
    }

    onChangeEmail = (e) => {
        this.setState({
            email: e.target.value
        });
    }

    onChangeAddress = (e) => {
        this.setState({
            address: e.target.value
        });
    }

    onChangeNote = (e) => {
        this.setState({
            note: e.target.value
        });
    }

    onChangeAmount = (e) => {
        this.setState({
            amount: e.target.value
        });
    }

    onChangeColor = (e) => {
        this.setState({
            color: e.target.value,
            color1: e.target.value,
            color2: e.target.value
        })
    }

    onSubmit = (e) => {
        e.preventDefault();

        const obj = {
            nickname: this.state.nickname,
            phone: this.state.phone,
            email: this.state.email,
            address: this.state.address,
            note: this.state.note,
            name: this.state.name,
            amount: this.state.amount,
            color: this.state.color,
            price: this.state.price,
            sale: this.state.sale,
            image: this.state.image,
            date: this.state.date,
            id: this.state.id
        };
        axios.post('http://localhost:4000/orders/add', obj)
            .then(res => {
                console.log(res.data);
                localStorage.setItem('orders', JSON.stringify(res));
            }).catch(err => {
                console.log(err);
            })

        this.setState({
            nickname: '',
            phone: '',
            email: '',
            address: '',
            name: '',
            note: '',
            amount: '',
            color: '',
            price: '',
            sale: '',
            image: '',
            date: [],

            id: ''
        });
    }

    componentDidMount() {
        axios.get('http://localhost:4000/persons/detail/' + this.props.match.params.id)
            .then(res => {
                this.setState({
                    _id: res.data._id,
                    name: res.data.name,
                    status: res.data.status,
                    check: res.data.check,
                    amounts: res.data.amounts,
                    price: res.data.price,
                    image: res.data.image,
                    sale: res.data.sale,
                    color: res.data.color,
                    color1: res.data.color1,
                    color2: res.data.color2,
                    gift: res.data.gift,
                    gifts: res.data.gifts,
                    promotionone: res.data.promotionone,
                    promotiontwo: res.data.promotiontwo,
                    manufacturer: res.data.manufacturer,
                    screen: res.data.screen,
                    pin: res.data.pin,
                    ram: res.data.ram,
                    rom: res.data.rom,
                    cpu: res.data.cpu,
                    pk: res.data.pk,
                    waterproof: res.data.waterproof,
                    material: res.data.material,
                    guarantee: res.data.guarantee,
                    guarantees: res.data.guarantees,
                    image_src: res.data.image_src,
                    detail: res.data.detail,
                    video: res.data.video
                });
            })
            .catch(function (error) {
                console.log(error);
            })
    }

    render() {
        return (
            <div className="container"><hr />
                <p>Trang chủ > Chi tiết sản phẩm > <b>{this.state.name}</b></p>
                <br />
                <div className="row">
                    <div className="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div className="containers text-center">
                            <img className="group list-group-image img-thumbnail" src={this.state.image} alt={this.state.name} />
                        </div><br />
                        <div className="navbar navbar-expand-lg navbar-light">
                            <button className="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <i>Chi tiết thông số kỹ thuật</i>
                                <span className="navbar-toggler-icon"></span>
                            </button>
                            <div className="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul className="list-group">
                                    <li className="list-group-item active bg-secondary"><h5>Thông số kỹ thuật</h5></li>
                                    <li className="list-group-item">Hãng sản xuất: <b>{this.state.manufacturer}</b></li>
                                    <li className="list-group-item">Màn hình: <b>{this.state.screen}</b></li>
                                    <li className="list-group-item">Chất liệu: <b>{this.state.material}</b></li>
                                    <li className="list-group-item">RAM/ROM: <b>{this.state.ram} / {this.state.rom}</b></li>
                                    <li className="list-group-item">CPU: <b>{this.state.cpu}</b></li>
                                    <li className="list-group-item">Chống nước: <b>{this.state.waterproof}</b></li>
                                    <li className="list-group-item">Cổng sạc: <b>{this.state.detail}</b></li>
                                    <li className="list-group-item">Pin: <b>{this.state.pin}</b></li>
                                </ul>
                            </div>
                        </div><br />
                    </div>
                    <div className="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h4> {this.state.name} </h4>
                        <div className="row">
                            <div className="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <p>Giá sản phẩm: </p>
                                <h5 className="text-right"><b className="text-center"><del>{this.state.price}</del><sup>vnđ</sup> </b></h5>
                                <h2 className="text-right"><b className="text-danger">{this.state.sale}<sup>vnđ</sup> </b></h2>
                            </div>
                            <div className="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                <button type="button" className="btn btn-danger">TRẢ GÓP 0%</button>
                            </div>
                            <p className="container">
                                {this.state.amounts > 0 ?
                                    <span><img src="/Images/check.png" style={{ width: 20 }} className="img-responsive" alt={this.state.status} /><b> Còn hàng</b></span> :
                                    <span><img src="/Images/checks.png" style={{ width: 20 }} className="img-responsive" alt={this.state.status} /><b> Hết hàng</b></span>}
                            </p>
                        </div>
                        <ul className="list-group">
                            <li className="list-group-item active bg-secondary"> <b> TẶNG </b> </li>
                            <li className="list-group-item">{this.state.gift}</li>
                            <li className="list-group-item">{this.state.gifts}</li>
                        </ul><br />
                        <div className="container">
                            <div className="text-center">
                                    {this.state.amounts > 0 ?
                                        <button type="button" className="btn btn-danger" data-toggle="modal" data-target="#myModal">ĐẶT HÀNG NGAY <br /> ( Giao hàng nhanh hoặc lấy tại cửa hàng )</button> :
                                        <button type="button" className="btn btn-dark" onClick={this.onAlert = () => {alert('Sorry!! Sản phẩm hết hàng. Quý khách cập website thường xuyên để biết thông tin hàng về. !')}}>HẾT HÀNG <br /> (Liên hệ để cập nhật thông tin 19006666)</button>
                                    }
                            </div>
                            <div id="myModal" className="modal fade" role="dialog">
                                <div className="modal-dialog">
                                    <div className="modal-content">
                                        <div className="bg-secondary">
                                            <div className="container">
                                                <form onSubmit={this.onSubmit}>
                                                    <h4 className="text-white">Thông tin sản phẩm</h4><br />
                                                    <div className="row">
                                                        <div className="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <img src={this.state.image} value={this.state.image} className="img-responsive" style={{ width: 150 }} alt={this.state.name} />
                                                        </div>
                                                        <div className="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                            <div className="row">
                                                                <div className="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                                    <p className="text-white">()Tên sản phẩm</p>
                                                                    <h6 value={this.state.name} className="text-white">{this.state.name}</h6><br/>
                                                                    <h6 value={this.state.price}> <del>{this.state.price}</del><sup>vnđ</sup> </h6>
                                                                    <h5><b className="text-danger">{this.state.sale}<sup>vnđ</sup> </b></h5>
                                                                </div>
                                                                <div className="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                                                    <p className="text-white">(*)Số lượng</p>
                                                                    <div className="form-group">
                                                                        <input type="number" name="quantity" className="form-control" min="1" max="4" placeholder="0"
                                                                            pattern=".{4}" title="Đặt tối đa 4 sản phẩm" required
                                                                            value={this.state.amount}
                                                                            onChange={this.onChangeAmount} />
                                                                    </div>
                                                                    <p className="text-white">(*)Màu sắc</p>
                                                                    <select className="form-control bg-white" value={this.state.color} onChange={this.onChangeColor}>
                                                                        <option> {this.state.color} </option>
                                                                        <option>{this.state.color1}</option>
                                                                        <option>{this.state.color2}</option>
                                                                    </select>
                                                                </div>
                                                            </div><br />
                                                            <div className="row container">
                                                                <p className="text-white">Đã bao gồm phí VAT || FreeShip</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h4 className="text-white">Thông tin khách hàng</h4>
                                                    <div className="form-group">
                                                        <label className="text-white">(*) HỌ & TÊN</label>
                                                        <input type="text" className="form-control" placeholder="..." autoFocus
                                                            pattern="[A-Za-z /-,]{1,100}" title="vui lòng ghi rõ họ tên" required
                                                            value={this.state.nickname}
                                                            onChange={this.onChangeNickname} />
                                                    </div>
                                                    <div className="form-group">
                                                        <label className="text-white">(*) SỐ ĐIỆN THOẠI</label>
                                                        <input type="text" className="form-control" maxLength="10" placeholder="+84"
                                                            pattern=".{10,}" title="vui lòng điền đúng số điện thoại" required
                                                            value={this.state.phone}
                                                            onChange={this.onChangePhone} />
                                                    </div>
                                                    <div className="form-group">
                                                        <label className="text-white">() EMAIL</label>
                                                        <input type="email" name="email" className="form-control" autoComplete="on" placeholder="...@email.com.vn"
                                                            value={this.state.email}
                                                            onChange={this.onChangeEmail} />
                                                    </div>
                                                    <div className="form-group">
                                                        <label className="text-white">(*) ĐỊA CHỈ</label>
                                                        <input type="text" className="form-control"
                                                            pattern="[A-Za-z /-,]{1,100}" title="vui lòng điền đúng địa chỉ !"
                                                            placeholder="Địa chỉ" required
                                                            value={this.state.address}
                                                            onChange={this.onChangeAddress} />
                                                    </div>
                                                    <div className="form-group">
                                                        <label className="text-white">() GHI CHÚ</label>
                                                        <input type="text" className="form-control" placeholder="..."
                                                            value={this.state.note}
                                                            onChange={this.onChangeNote} />
                                                    </div>
                                                    <div className="form-group text-center">
                                                        <button type="submit" className="btn btn-danger" onClick={this.notification}><h5>ĐẶT HÀNG</h5> ( Swatch sẽ gọi sau ít phút đến quý khách. )</button>
                                                    </div>
                                                    <p className="text-white">Lưu ý: (*) bắt buộc. () không bắt buộc.</p>
                                                </form>
                                            </div>
                                        </div>
                                        <div className="modal-footer">
                                            <button type="button" className="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div className="text-center">
                            <button type="button" className="btn btn-primary text-center">TRẢ GÓP 0% <br /> ( Xét duyệt qua điện thoại, Tablet, laptop )</button>
                        </div><br />
                        <div className="text-center">
                            <button type="button" className="btn btn-success text-center">TRẢ GÓP 0% QUA THẺ <br /> ( Visa, Master Card, JCB, ATM ngân hàng )</button>
                        </div><br />
                    </div>
                    <div className="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <ul className="list-group">
                            <li className="list-group-item active bg-secondary"> <b> KHUYẾN MÃI </b> </li>
                            <li className="list-group-item">{this.state.promotionone}</li>
                            <li className="list-group-item">{this.state.promotiontwo}</li>
                        </ul><br />
                        <ul className="list-group">
                            <li className="list-group-item active bg-secondary"> <b> FULL BOX </b> </li>
                            <li className="list-group-item">Trong hộp có: {this.state.pk}</li>
                            <li className="list-group-item">{this.state.guarantee}</li>
                            <li className="list-group-item">{this.state.guarantees}</li>
                        </ul><br />
                        <Support />
                    </div>
                </div>
                <div className="row">
                    <h3>Video Giới Thiệu Sản Phẩm</h3> &nbsp;
                    <ReactPlayer url={this.state.video} controls={true} />
                </div><br />
            </div>
        )
    }
} */
