.stylefilter {
	width: auto;
	height: 0%;
	margin: 1%;
}

.hoverButton:focus {
	outline: 0;
	box-shadow: none;
}

.buttonleft {
	margin-left: 36.5%;
}

@media screen and (max-width: 1024px) {
	.buttonleft {
		margin-left: 28%;
	}
}
@media screen and (max-width: 768px) {
	.buttonleft {
		margin-left: 8%;
	}
}
@media screen and (max-width: 414px) {
	.buttonleft {
		margin-left: 0%;
	}
}
