.img-footer {
   width: 60px;
   height: 75px;
   margin-left: 25%;
}
.iframe-fb {
   border: none;
   height: 50px;
   width: 100%;
}
.centers {
   text-align: center;
   margin-bottom: 3%;
}
.dichvu:hover {
   font-size: 16.2px;
   text-decoration: none;
}
.back-to-top {
   border-radius: 8px;
   background-color: darkred;
   font-size: 55px;
   color: gainsboro;
   text-align: center;
   vertical-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   left: 95%;
   bottom: 85px;
   margin-left: -25px;
   cursor: pointer;
   visibility: hidden;
   opacity: 0;
}
.back-to-top.hien-ra {
   visibility: visible;
   opacity: 1;
}
