.nav-links {
	color: white !important;
}
.nav-links:hover {
	color: crimson !important;
}
.drops {
	background-color: gray !important;
}
.cs {
	color: white !important;
}
.cs:hover {
	color: black !important;
}

.div {
	width: 100px;
	height: 100px;
	background-color: blue;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 4s;
}
.divs {
	width: 100px;
	height: 100px;
	background-color: green;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
	0% {
		background-color: blue;
	}
	25% {
		background-color: LightSalmon;
	}
	50% {
		background-color: pink;
	}
	100% {
		background-color: purple;
	}
}

/* Cú pháp tiêu chuẩn */
@keyframes example {
	0% {
		background-color: blue;
	}
	25% {
		background-color: LightSalmon;
	}
	50% {
		background-color: pink;
	}
	100% {
		background-color: indigo;
	}
}

@media screen and (max-width: 600px) {
	.res {
		display: none;
	}
}
